body{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    background: linear-gradient(45deg, #39FF14, #ff073a);
}

h1{
    margin: center;
}

h1 button{
    background: none;
    border: none;
    cursor: pointer;
}

h1 button:hover{
    padding: 16px 32px;
    background: linear-gradient(45deg, #39FF14, #ff073a)
}

h1:hover{
    background-color: linear-gradient(45deg, limegreen, lightblue);
}

@media screen and (max-width:768px){
    h1{
        font-size: 60%;
    }
}